<div class="row">
  <div class="col-xs-12">
    <form>
      <!-- <div class="row">
        <div class="col-sm-5" class="form-group">
          <label for="name"> name</label>
          <input type="text" id="name" class="form-control">
        </div>
        <div class="col-sm-2"  class="form-group">
          <label for="amount">amount</label>
          <input type="number" id="amount" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary">ADD</button> 
          <button type="button" class="btn btn-success">Delete</button> 
          <button type="button" class="btn btn-danger">Clear</button> 
        </div>
      </div> -->
      <div class="row">
        <div class="col-sm-5">
            <label for="name"> name</label>
            <input type="text" id="name" class="form-control" #nameInput>
        </div>
        <div class="col-sm-2">
            <label for="amount">amount</label>
           <input type="number" id="amount" class="form-control" #amountInput >
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary" (click)="onAddItem()">ADD</button> 
            <button type="button" class="btn btn-success">Delete</button> 
            <button type="button" class="btn btn-danger">Clear</button> 
          </div>
        </div>
      
    </form>
  </div>
</div>
